<h2>Mostrar <strong>LOCATIONS</strong> solo con Type <strong>PLANET</strong></h2>

<table mat-table [dataSource]="pregunta2" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="dimension">
      <th mat-header-cell *matHeaderCellDef> Dimension </th>
      <td mat-cell *matCellDef="let element"> {{element.dimension}} </td>
    </ng-container>

    <ng-container matColumnDef="residents">
      <th mat-header-cell *matHeaderCellDef> Residents </th>
      <td mat-cell *matCellDef="let element"> {{element.residents}} </td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> URL </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>